* {
  box-sizing: border-box;
}

header {
  margin-top: 70px;
  font-family: 'Righteous', cursive; 
  font-size: 40px;
  /* color: rgb(39,64,175); */
}
 header span {
   color: red;
 }

.logo {
  width: 200px;
  height: 200px;
  margin: 0 auto 0;
  border: 1px solid black;
  border-radius: 50%;
}

body {
  font-family: "Open Sans", sans-serif; 
  font-size: 20px;
  color: black;

  text-align: center;
  line-height: 1.5;
}

div.App, html {
  background-color:rgb(247, 243, 199);
  color: black;
}