
nav {
 
  background-color: rgb(39,64,175);
}
.navBar {
  display: inline-block;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 5px;
  
 
}
.loginRegister{
  display: inline;
  justify-content: center;
  justify-self: center;
  max-height: 30px;
  background-color: rgb(39,64,175);
}
.navContents {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 5px;
  background-color: rgb(39,64,175);
}
.user {
  display: inline;
  text-decoration: none;
  color: white;
  padding: 8px;
}
.nickname {
  display: inline;
  text-decoration: none;
  color: white;
  padding: 8px;
}
.userNickname {
  float: left;
  display: flex;
  align-self: center
 
}
.burgerIcon {
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  padding: 0px;
  margin: 0px;
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-size: 35px;
}
.links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 5px;
  margin-top: 50px;
  overflow: hidden;
  font-size: 20px;
  padding: 0px;
}
.loginLinks {
  display: flex;
  flex-direction: row;
  
  justify-content: space-around;
  
  margin: 5px;
 
  overflow: hidden;
  font-size: 20px;
  padding: 0px;
  
}
.null{
  display: none;
}
li {
  display: inline;
  text-align: right;
}

li a {
  padding: 8px;
  color: white;
  text-decoration: none;
}

/*tablet screen*/
@media screen and (min-width: 620px) {
  .links {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    margin: 5px;
    padding: 0;
    align-self: center;
    
  }
  
  .loginRegister{
    display: flex;
    justify-content: flex-start;
    width: 100%;
   
  }
  .navContents {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .burgerIcon {
    display: none;
  }
    
  .navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
  }

}

